@import "styles/unit.scss";

.root {
  width: 421px;
  background-color: white;
  margin: 100px auto;
  padding: 24px 0;
  .box {
    position: relative;
    .closeCode {
      position: absolute;
      top: -12px;
      right: 12px;
      cursor: pointer;
    }
    .title {
      font-weight: 600;
      font-size: 24px;
      line-height: 35px;
      color: #323232;
      font-family: Poppins;
      text-align: center;
    }
    .time {
      font-size: 16px;
      line-height: 23px;
      margin-top: 12px;
      text-align: center;
    }
    .content {
      text-align: center;
      padding: 0 50px;
      margin-top: rem(8);
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #66686c;
    }
    .code {
      margin-top: rem(24);
      width: 100%;
      .inputCode {
        div {
          display: flex !important;
          justify-content: center !important;
          div {
            display: none;
            column-gap: 5px;
          }
        }
        input {
          height: 60px !important;
          width: 15.5% !important;
          display: inline-block;
          border-radius: 0;
          border: 1px solid #ebebeb;
          padding: 12px;
        }
        input:focus {
          border-color: #e3591e !important;
        }
      }
    }
    .button {
      width: 100% !important;
      margin-top: 24px;
      .btn {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .root {
    width: 100%;
    max-width: 100%;
    padding: 50px 0;
    margin: 0;
    // height: 1000px;
    @media (max-width: 600px) {
      height: 100vh;
    }
    .box {
      .closeCode {
        position: absolute;
        top: -25px;
        right: 12px;
        cursor: pointer;
      }
      .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
        color: #323232;
        font-family: Poppins;
        margin-top: rem(8);
        text-align: center;
      }
      .content {
        margin-top: rem(8);
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #66686c;
      }
      .text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #e3591e;
        margin-top: rem(12);
        span {
          font-size: rem(18);
        }
        &:active {
          color: red;
        }
      }
      .code {
        margin-top: rem(24);
        width: 100%;
        .inputCode {
          div {
            div {
              display: none;

              column-gap: 5px;
            }
          }
          input {
            color: black;
            height: 100px !important;
            width: 14% !important;
            display: inline-block;
            border-radius: 0;
            border: 1px solid #323232;
            border-color: #ebebeb !important;
            margin: 0px 4px;
            @media (max-width: 600px) {
              height: 50px !important;
            }
          }
          input:focus {
            border-color: #e3591e !important;
          }
        }
      }
      .button {
        width: 100% !important;
        margin-top: 90%;
        .btn {
          width: 100%;
        }
      }
    }
  }
}
