@import "styles/unit.scss";

.root {
  width: 421px;
  background-color: white;
  padding: 24px 0;
  background-color: white;
  margin: 100px auto;
  .box {
    position: relative;

    .title {
      font-weight: 600;
      font-size: 24px;
      line-height: 35px;
      color: #323232;
      font-family: Poppins;
      padding: 30px 0;
      text-align: center;
    }
    .time {
      font-size: 16px;
      line-height: 23px;
      margin-top: 12px;
      text-align: center;
    }
    .form {
      .inputMask {
        input {
          padding: rem(26) 0 rem(26) rem(10);
          box-sizing: border-box;
          font-family: "Poppins" !important;
          font-size: 16px;
          line-height: 23px;
          width: 100%;
        }
        input:focus {
          outline: none !important;
        }
      }
      @media (max-width: 600px) {
        .inputMask {
          input {
            padding: rem(26) 0 rem(26) rem(10);
            box-sizing: border-box;
            font-family: "Poppins" !important;
            font-size: 16px;
            line-height: 23px;
            width: 100%;
          }
          input:focus {
            outline: none !important;
            border: none;
          }
        }
      }
      .button {
        width: 100% !important;
        margin-top: 24px;
        // position: absolute;
        // bottom: 10px;
        .btn {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .root {
    width: 90%;
    margin: 0;
    max-width: 100%;
    margin: auto;
    height: 96vh;
    @media (max-width: 600px) {
      height: 100vh;
    }
    .box {
      .form {
        .button {
          margin-bottom: 10%;
        }
      }
    }
  }
}


