@import "styles/unit.scss";

.about {
  position: relative;

  .container {
    max-width: 93.5% !important;
    .info {
      display: flex;

      .content {
        padding: 42px 31px 42px 48px;
        font-size: 18px;
        line-height: 34px;
        border: 1px solid #ebebeb;
        border-top: none;
      }
    }
  }
}

@media (max-width: 850px) {
  .about {
    position: relative;
    // .header {
    //   .container {
    //     max-width: 100% !important;
    //     // padding: 11px 24px;

    //     .box {
    //       display: flex;
    //       align-items: center;
    //       justify-content: space-between;
    //       position: relative;
    //       .button {
    //         position: absolute;
    //         right: 10%;

    //         // position: sticky;
    //         // bottom: 10px;
    //         // margin-top: rem(8);
    //         .btn {
    //           font-size: 12px;
    //           line-height: 14px;
    //           padding-left: 10px !important;
    //           padding-right: 10px !important;
    //         }
    //       }
    //       .logo {
    //         img {
    //           width: 55px;
    //           height: 34px;
    //         }
    //       }
    //       .icon {
    //         img {
    //           cursor: pointer;
    //           width: 24px;
    //           height: 24px;
    //         }
    //       }
    //     }
    //   }
    // }
    .container {
      max-width: 100% !important;
      padding: 0 10px;
      .info {
        display: block;
        padding: rem(11) rem(25);
        border: 1px solid #ebebeb;
        border-top: none;
        .title {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #202020;
        }
        .content {
          padding: 24px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          margin-top: rem(6);
          color: #2c2c2c;
          border: none;
          @media (max-width: 600px) {
            font-size: 14px;
          }
        }
        img {
          display: none;
        }
      }
    }
  }
}
