@import "styles/unit.scss";

.box {
  background: white !important;
  .sticky {
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    z-index: 99;
    transition: 1s;
    transition-timing-function: ease-in;
  }

  .nav {
    display: none;
    position: sticky;
  }
  .container {
    max-width: 90%;
    padding: 0;
    padding-bottom: 72px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-top: "none";
  }
  .button {
    display: none;
  }
}

@media (max-width: 600px) {
  .box {
    .container {
      max-width: 96%;
      padding: 0 0px;
    }
    .button {
      border-top: 1px solid #ebebeb;
      background: #ffffff;
      display: block;
      padding: 8px 16px 8px 16px;
      z-index: 99;
      width: 100%;
      position: sticky;
      bottom: 0;
      .btn {
        // width: 95%;
      }
    }
  }
}
